
<div class="container">
	<div class="center jumbotron">
	  <h1 class="display-4">Alpha Blog</h1>
	  <p class="lead">Express Your thoughts. Connect with people.</p>
	  <p class="lead">
	    <%= link_to "Sign Up", "#", class: "btn btn-lg btn-xlarge" %>
	  </p>
	</div>
</div>

<%= link_to "Articles", articles_path %> |
<%= link_to "New Article", new_article_path %>