
<head>
	<title>Alpha Blog</title>
</head>



<body>

	<ul>
		<li>Home</li>
		<li>About</li>
		<li>People</li>
		<li>Sign Up</li>
		<li>Log In</li>
	</ul>

	<h1>Welcome to AlphaBlog!</h1>
	<h2>Start Your Own Blog!</h2>
	
	

	<p>Please let us know what you think</p>

	<div id="pics">
		<%= image_tag "group-of-kids.jpg" %>
		<%= image_tag "group-of-people.jpg" %>
		<%= image_tag "group-of-people-2.jpg" %>
	</div>
</body>

<div id="footer">
<footer>www.alphablog.com  *  (312)401-4570  *  <%= link_to "About Us", person_path %></footer>
</div>

