
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-4">Alpha Blog</h1>
	  <p class="lead">Express Your thoughts. Connect with people.</p>
	  <p class="lead">
	    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
	  </p>
	</div>
</div>

<%= link_to "Articles", articles_path %> |
<%= link_to "New Article", new_article_path %>